// Main button structure
[class*=#{$_notification_name}] {
    padding: calc(#{get_var("__padding_size")} * 10)calc(#{get_var("__padding_size")} * 10) !important;
    position: relative;
    transition: all .2s;
    margin: get_var("__margin_size");
    width: 100%;

    // Content positioning
    display: flex;
    align-content: center;

    // Border
    @include round_border;
}