.#{$_display_name} {
    // Media cases
    @include media_all ("static") using ($multiplier) {
        &:not([class*=#{$_column_name}]) {
            display: inherit !important;
        }

        &[class*=#{$_column_name}] {
            display: flex !important;
        }

        //Target hide
        &-#{$_target_name}:target {
            &:not([class*=#{$_column_name}]) {
                display: inherit !important;
            }
    
            &[class*=#{$_column_name}] {
                display: flex !important;
            }
        }
    }
}