//Title
.#{$_title_name} {
    text-align: center;
    width: 100%;
    display: flex;
    margin-left: 0;
    align-items: center;
    
    &:after {
        content: "";
        border-bottom: 2px solid get_var("light_color");
        position: relative;
        display: inline-block;
        flex-grow: 1;
        margin: 0 20px;
        height: 2px;
    }
}

//Subtitle
.#{$_subtitle_name} {
    text-align: center;
    width: 100%;
    display: flex;
    margin-left: 0;
    align-items: center;
    
    &:before,&:after {
        content: "";
        border-bottom: 2px solid get_var("light_color");
        position: relative;
        display: inline-block;
        flex-grow: 1;
        margin: 0 20px;
        height: 2px;
    }
}