

// Checkbox
[class*=#{$_form_name}][class*=#{$_checkbox_name}] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    // Label
    label {
        padding: get_var("__padding_size");
        margin-left: calc(#{get_var("__margin_size")} * 2);
		margin-bottom: calc(#{get_var("__margin_size")} * 2);
		display: flex;
		align-items: center;
    }

    // Input
    input[type=checkbox] {
        display: none;

        //Container
        & + label:before {
            content: "";
            display: inline-block;
            width: calc(#{get_var("__font_normal_size")} / 2);
            height: calc(#{get_var("__font_normal_size")} / 2);
            padding: calc(#{get_var("__padding_size")});
            border: 2px solid get_var("primary_color");
            background: transparent;
			margin-right: get_var("__font_normal_size");
			transition: background .1s ease;
            
            @include round_border(.75);
        }

        //Check (selected)
        &:checked + label:before {
            background: get_var("primary_color");
        }

        //Disabled input
        &[disabled] + label {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}