// Grouping
.#{$_form_name}-#{$_group_name} {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    // Label
    label {
        width: 100%;
        padding: get_var("__padding_size");
        margin-left: calc(#{get_var("__margin_size")} * 2);
        margin-bottom: calc(#{get_var("__margin_size")} * 2);
    }

    // Input
    input.#{$_form_name}-#{$_input_name} {
        width: 100%;
        padding: calc(#{get_var("__padding_size")} * 2);
        border: 2px solid get_var("primary_color");

        // Border
        //&.#{$}

        @include round_border;
    }
}