// Grouping standard
.#{$_form_name}-#{$_group_name} {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    // Control margin
    &:not(:last-child) {
        margin-bottom: calc(#{get_var("__margin_size")} * 2);
    }

    // Label
    label {
        width: 100%;
        padding: get_var("__padding_size");
        margin-left: calc(#{get_var("__margin_size")});
        margin-bottom: calc(#{get_var("__margin_size")});
    }

    // Input
    input.#{$_form_name}-#{$_input_name} {
        &[type=text],&[type=password],&:not([type]) {
            width: 100%;
            padding: calc(#{get_var("__padding_size")});
            border: 2px solid get_var("primary_color");
            background: transparent;
            transition: all .2s;
    
            @include round_border;
        }

        //Disabled input
        &[disabled] {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}