// Grouping standard
.#{$_form_name}-#{$_group_name} {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    // Input
    textarea.#{$_form_name}-#{$_input_name} {
        width: 100%;
        padding: calc(#{get_var("__padding_size")});
        border: 2px solid get_var("primary_color");
        background: none;
        resize: vertical;

        @include round_border;

        //Disabled input
        &[disabled] {
            opacity: 0.5;
            resize: none;
            cursor: not-allowed;
        }
    }
}