/*
 * The default divisions that subdivide the page layout into columns
 */

$__column_count: set_var("__column_count", 12);

/*
 * This value is responsible for gluing values to near to the column count limit
 * into the actual limit. If you want to disable this feature, place down the
 * value 100.
 */

$__fill_size_threshold: set_var("__fill_size_threshold", 75);

 /*
 * The breakpoints to be assisted on the responsivity
 */

$__extra_small_breakpoint: set_var("__extra_small_breakpoint",  576px);
$__small_breakpoint:       set_var("__small_breakpoint",        768px);
$__medium_breakpoint:      set_var("__medium_breakpoint",       992px);
$__large_breakpoint:       set_var("__large_breakpoint",        1200px);


 /*
 * Change the default size of the container, of course you
 * can define it as a default sizes (such as small or large)
 */

$__container_size: set_var("__container_size", get_var("__large_breakpoint"));

 /*
 * Font default sizes
 */

$__font_normal_size: set_var("__font_normal_size", 12px);
 
 /*
 * Border related settings
 */

$__border_size: set_var("__border_size", 24px);
 
/*
* Marging/padding related settings
*/

$__margin_size:     set_var("__margin_size",    8px);
$__padding_size:    set_var("__padding_size",   8px);

/*
* The quantity of margins and paddings that will be created by the multiplier loop
*/

$__loop_count: set_var("__loop_count", 9);
 
/*
* The size multiplier affects the multiplier that guides the responsivity
*/

$__size_multiplier: set_var("__size_multiplier", 2);
 
/*
* Responsivity options. You can choose between the following:
* - none: disable responsivity
* - static: the rule will only be applied to the specific breakpoint
* - positive: the rule will be applied to the breakpoint and upwards
* - negative: the rule will be applied to the breakpoint and downwards
* - dynamic_multiplier: the rule will be calculated relative to the __size_multiplier property to both up and down
* - positive_multiplier: the rule will be calculated relative to the __size_multiplier property upwards
* - negative_multiplier: the rule will be calculated relative to the __size_multiplier property downwards
*/

$__responsive_behaviour: "dynamic_multiplier";