/*
 * The default divisions that subdivide the page layout into columns
 */

$__column_count: 12;

/*
 * This value is responsible for gluing values to near to the column count limit
 * into the actual limit. If you want to disable this feature, place down the
 * value 100.
 */

$__fill_size_threshold: 75;

 /*
 * The breakpoints to be assisted on the responsivity
 */

$__extra_small_breakpoint: 576px;
$__small_breakpoint:       768px;
$__medium_breakpoint:      992px;
$__large_breakpoint:       1200px;


 /*
 * Change the default size of the container, of course you
 * can define it as a default sizes (such as small or large)
 */

$__container_size: $__large_breakpoint;

 /*
 * Font default sizes
 */

$__font_normal_size: 12px;
 
 /*
 * Border related settings
 */

$__border_size: 12px;
 
/*
* Marging/padding related settings
*/

$__margin_size:     4px;
$__padding_size:    4px;

/*
* The quantity of margins and paddings that will be created by the multiplier loop
*/

$__loop_count: 9;
 
/*
* The size multiplier affects the multiplier that guides the responsivity
*/

$__size_multiplier: 2;