
// Base class

[class*=#{$_column_name}] {
    // General
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: $__font_normal_size;

    // Padding
    &:not(.#{$_padless_name}) {
        padding: 12px;
    }
}

.#{$_column_name} {
    /*
     * Philosophy:
     * 
     */

    //Default sizing
    @include media_size();

    //Calculate grid size based on screen size - extra small
    &-#{$_extra_small_name} {
        @include media_size();
    }
    
    //Calculate grid size based on screen size - small
    &-#{$_small_name} {
        @include media_size($__column_count/2, $__column_count, $__column_count ,$__column_count, $__column_count);
    }
    
    //Calculate grid size based on screen size - medium
    &-#{$_medium_name} {
        @include media_size($__column_count/4, $__column_count/2, $__column_count, $__column_count, $__column_count);
    }
    
    //Calculate grid size based on screen size - large
    &-#{$_large_name} {
        @include media_size($__column_count/8, $__column_count/4, $__column_count/2, $__column_count, $__column_count);
    }
    
    //Calculate grid size based on screen size - extra large
    &-#{$_extra_large_name} {
        @include media_size($__column_count/16, $__column_count/8, $__column_count/4, $__column_count/2, $__column_count);
    }
}