
// Base class

[class*=#{$_column_name}] {
    // General
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: get_var("__font_normal_size");

    // Padding
    &:not(.#{$_padless_name}) {
        padding: get_var("__padding_size");
    }

    //Aligment
    
}

.#{$_column_name} {
    @include media_all () using ($multiplier) {
        $column_count: fill_size($__column_count * $multiplier);

        //Calculate grid size
        @for $col from 1 to ($__column_count + 1) {
            @if ($col == 1) {
                & {
                    width: 100%;
                }
            }
    
            &-#{$col} {
                @if ((100% / $column_count) * $col < $__fill_size_threshold or true) {
                    width: (100% / $column_count) * $col;
                }
                @else {
                    width: 100%;
                }
            }
        }
    }
}