//Default icon properties
[class*=#{$_icon_name}][class*=#{$_button_name}] {
    border-radius: 50%;
    width: calc(#{get_var("__font_normal_size")} * 2);
    height: calc(#{get_var("__font_normal_size")} * 2);
    line-height: calc(#{get_var("__font_normal_size")} * 2);
    padding: 0 !important;
    text-align: center;
    flex-wrap: wrap;
}

//Sizing icons
[class*=#{$_button_name}].#{$_icon_name} {
    @for $i from 2 to $__loop_count {
        &-#{($i - 1)} {
            width: calc(#{get_var("__font_normal_size")} * #{$i});
            height: calc(#{get_var("__font_normal_size")} * #{$i});
            line-height: calc(#{get_var("__font_normal_size")} * #{$i});
            font-size: calc(#{get_var("__font_normal_size")} * #{($i - 2)});
        }
    }
}