// Main button structure
[class*=#{$_button_name}] {
    padding: 10px 20px !important;
    position: relative;
    transition: all .2s;
    margin: get_var("__margin_size");

    // Content positioning
    display: flex;
    align-content: center;
    justify-content: center;

    // Fix problem due to indexing
    &:before {
        z-index: -1;
    }

    // Border
    @include round_border;

    // Disabled properties
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

// Coloring
@import "colors";

// Grouping
@import "grouping";

// Circle
@import "icon";

// Image
@import "image";

// Line art button
@import "line";