// Main button structure
[class*=#{$_button_name}] {
    padding: 10px 20px;
    position: relative;
    transition: all .2s;
    margin: $__margin_size;

    // Fix problem due to indexing
    &:before {
        z-index: -1;
    }

    // Border
    @if ($__use_rounded) {
        border-radius: $__border_size;

        //Prepare the before element for being rounded
        &:before {
            border-radius: $__border_size;
        }
    }

    // Force rounding
    &.#{$_round_name} {
        border-radius: $__border_size;

        //Prepare the before element for being rounded
        &:before {
            border-radius: $__border_size;
        }
    }
    
    // Force no border radius
    &.#{$_flat_name} {
        border-radius: 0;

        //Prepare the before element for being flat
        &:before {
            border-radius: 0;
        }
    }

    // Disabled properties
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

// Coloring
@import "colors";

// Grouping
@import "grouping";

// Circle
@import "icon";

// Image
@import "image";

// Line art button
@import "line";