

// Coloring
.#{$_button_name} {
    /*
     * Solid main colors
     */

    &-#{$_primary_name}-#{$_line_name} {
        color: get_var("primary_color");
        background: none;
        border: solid 2px get_var("primary_color");
        
        &:hover:not([disabled]) {
            color: white;
            background: get_var("primary_color");
            box-shadow: 0px 0px 3px 1px get_var("primary_color");
        }

        &:active:not([disabled]) {
            box-shadow: none;
        }
    }

    &-#{$_secondary_name}-#{$_line_name} {
        color: get_var("secondary_color");
        background: none;
        border: solid 2px get_var("secondary_color");
        
        &:hover:not([disabled]) {
            color: white;
            background: get_var("secondary_color");
            box-shadow: 0px 0px 3px 1px get_var("secondary_color");
        }

        &:active:not([disabled]) {
            box-shadow: none;
        }
    }

    &-#{$_success_name}-#{$_line_name} {
        color: get_var("success_color");
        background: none;
        border: solid 2px get_var("success_color");
        
        &:hover:not([disabled]) {
            color: white;
            background: get_var("success_color");
            box-shadow: 0px 0px 3px 1px get_var("success_color");
        }

        &:active:not([disabled]) {
            box-shadow: none;
        }
    }

    &-#{$_warning_name}-#{$_line_name} {
        color: get_var("warning_color");
        background: none;
        border: solid 2px get_var("warning_color");
        
        &:hover:not([disabled]) {
            color: white;
            background: get_var("warning_color");
            box-shadow: 0px 0px 3px 1px get_var("warning_color");
        }

        &:active:not([disabled]) {
            box-shadow: none;
        }
    }

    &-#{$_danger_name}-#{$_line_name} {
        color: get_var("danger_color");
        background: none;
        border: solid 2px get_var("danger_color");
        
        &:hover:not([disabled]) {
            color: white;
            background: get_var("danger_color");
            box-shadow: 0px 0px 3px 1px get_var("danger_color");
        }

        &:active:not([disabled]) {
            box-shadow: none;
        }
    }

    &-#{$_light_name}-#{$_line_name} {
        background: none;
        color: lighten_color("light_color", 50%);
        border: solid 2px lighten_color("light_color", 50%);
        
        &:hover:not([disabled]) {
            background: lighten_color("light_color", 20%);
            box-shadow: 0px 0px 3px 1px lighten_color("light_color", 50%);
        }

        &:active:not([disabled]) {
            box-shadow: none;
        }
    }

    &-#{$_dark_name}-#{$_line_name} {
        color: get_var("dark_color");
        background: none;
        border: solid 2px get_var("dark_color");
        
        &:hover:not([disabled]) {
            color: white;
            background: get_var("dark_color");
            box-shadow: 0px 0px 3px 1px get_var("dark_color");
        }

        &:active:not([disabled]) {
            box-shadow: none;
        }
    }
}