/*
 * Solid main colors
 */

.#{$_background_name} {
    position: relative;
    background-size: cover;
    background-position: center;
}

.#{$_fullscreen_name} {
    position: relative;
    min-height: 100vh;
    background-attachment: inherit !important;
}

// Imports
@import "starfield";

 /*
  * Placeholder images
  */

.#{$_placeholder_name} {
    background-size: cover;
    background-image: url(https://picsum.photos/1920/1080);
}