/*
 * Solid main colors
 */

.#{$_background_name} {
    position: relative;
    background-size: cover;
    background-position: center;
}

.#{$_fullscreen_name} {
    left: 0;
    top: 0;
    z-index: 10000;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: inherit !important;
}

// Imports
@import "starfield";

 /*
  * Placeholder images
  */

.#{$_placeholder_name} {
    background-size: cover;
    background-image: url(https://picsum.photos/1920/1080);
}