// Base class
.#{$_card_name} {
    background-color: $light_color;
    display: flex;
    flex-direction: column;
    width: 100%;

    // Padding
    &:not(.#{$_padless_name}) {
        padding: 12px;
    }

    // Border
    @if ($__use_rounded) {
        border-radius: $__border_size;
    }
}