// Base class
.#{$_card_name} {
    background-color: get_var("light_color");
    display: flex;
    flex-direction: column;
    width: 100%;

    // Padding
    &:not(.#{$_padless_name}) {
        padding: 12px;
    }

    // Border
    @if ($__use_rounded) {
        border-radius: get_var("__border_size");
    }
}