// Grid
$_column_name:              "block";
$_column_offset_name:       "offset";
$_container_name:           "container";
$_row_name:                 "shelf";

// Text
$_text_name:                "text";
$_font_name:                "font";
$_title_name:               "title";
$_subtitle_name:            "subtitle";

// Responsivity
$_extra_small_name:         "xs";
$_small_name:               "sm";
$_medium_name:              "md";
$_large_name:               "lg";
$_extra_large_name:         "xl";

// Responsivity - general
$_emulate_name:             "emulate";
$_breakpoint_name:          "breakpoint";

// Aligment

// Padding
$_padding_name:             "padding";
$_padless_name:             "padless";

// Margin
$_margin_name:              "margin";
$_marginless_name:          "marginless";

// Positioning
$_top_name:                 "top";
$_bottom_name:              "bottom";
$_left_name:                "left";
$_right_name:               "right";
$_center_name:              "center";
$_middle_name:              "middle";

// Background
$_background_name:          "background";
$_taint_name:               "taint";

// General
$_placeholder_name:         "placeholder";
$_gradient_name:            "gradient";
$_card_name:                "card";
$_header_name:              "header";
$_footer_name:              "footer";
$_button_name:              "button";

// Coloring
$_primary_name:             "primary";
$_secondary_name:           "secondary";
$_success_name:             "success";
$_danger_name:              "danger";
$_warning_name:             "warning";
$_light_name:               "light";
$_dark_name:                "dark";