// Grid
$_column_name:              "block"     !default;
$_column_offset_name:       "push"      !default;
$_container_name:           "container" !default;
$_row_name:                 "shelf"     !default;

// Text
$_text_name:                "text"      !default;
$_font_name:                "font"      !default;
$_title_name:               "title"     !default;
$_subtitle_name:            "subtitle"  !default;

// Responsivity
$_extra_small_name:         "xs"        !default;
$_small_name:               "sm"        !default;
$_medium_name:              "md"        !default;
$_large_name:               "lg"        !default;
$_extra_large_name:         "xl"        !default;

// Responsivity - general
$_responsive_name:          "responsive"    !default;
$_emulate_name:             "emulate"       !default;
$_breakpoint_name:          "breakpoint"    !default;

// Visibility
$_hide_name:                "hide"      !default;
$_display_name:             "display"   !default;
$_fade_name:                "fade"      !default;

// Padding
$_padding_name:             "padding"   !default;
$_padless_name:             "padless"   !default;

// Margin
$_margin_name:              "margin"        !default;
$_marginless_name:          "marginless"    !default;

// Positioning
$_top_name:                 "top"           !default;
$_bottom_name:              "bottom"        !default;
$_left_name:                "left"          !default;
$_right_name:               "right"         !default;
$_center_name:              "center"        !default;
$_middle_name:              "middle"        !default;

// Background
$_background_name:          "background"    !default;
$_taint_name:               "taint"         !default;

// General
$_placeholder_name:         "placeholder"   !default;
$_gradient_name:            "gradient"      !default;
$_card_name:                "card"          !default;
$_header_name:              "header"        !default;
$_footer_name:              "footer"        !default;
$_button_name:              "button"        !default;
$_active_name:              "active"        !default;
$_group_name:               "group"         !default;
$_disabled_name:            "disabled"      !default;
$_round_name:               "round"         !default;
$_flat_name:                "flat"          !default;
$_icon_name:                "icon"          !default;
$_fullscreen_name:          "fullscreen"    !default;
$_sample_name:              "sample"        !default;
$_line_name:                "line"          !default;
$_all_name:                 "all"           !default;
$_image_name:               "img"           !default;
$_interactive_name:         "interactive"   !default;
$_context_name:             "context"       !default;
$_body_name:                "body"          !default;
$_target_name:              "target"        !default;
$_options_name:             "options"       !default;

// Stars
$_star_name:                "star"          !default;
$_starfield_name:           "starfield"     !default;

// Animation
$_float_name:               "float"         !default;
$_twinkle_name:             "twinkle"       !default;
$_in_name:                  "in"            !default;
$_out_name:                 "out"           !default;

// Form
$_form_name:                "form"          !default;
$_input_name:               "input"         !default;
$_select_name:              "select"        !default;
$_textarea_name:            "textarea"      !default;
$_checkbox_name:            "checkbox"      !default;

// Notification
$_notification_name:        "notification"  !default;
$_inline_name:              "inline"        !default;
$_popup_name:               "popup"         !default;
$_alert_name:               "alert"         !default;

// Coloring
$_primary_name:             "primary"   !default;
$_secondary_name:           "secondary" !default;
$_success_name:             "success"   !default;
$_danger_name:              "danger"    !default;
$_warning_name:             "warning"   !default;
$_light_name:               "light"     !default;
$_dark_name:                "dark"      !default;