.#{$_text_name} {
    // Media cases
    @include media_all ("static") using ($multiplier) {
        // Left
        &-#{$_left_name} {
            text-align: left;
            display: flex;
            justify-content: left;
        }
        
        // Center
        &-#{$_center_name} {
            text-align: center;
            display: flex;
            justify-content: center;
        }
        
        // Right
        &-#{$_right_name} {
            text-align: right;
            display: flex;
            justify-content: right;
        }
    }
}