@mixin round_border ($multiplier: 1) {
    // Border
    @if ($__use_rounded) {
        border-radius: calc(#{get_var("__border_size")} * #{$multiplier});

        //Prepare the before element for being rounded
        &:before {
            border-radius: calc(#{get_var("__border_size")} * #{$multiplier});
        }
    }

    // Force rounding
    &.#{$_round_name} {
        border-radius: calc(#{get_var("__border_size")} * #{$multiplier});

        //Prepare the before element for being rounded
        &:before {
            border-radius: calc(#{get_var("__border_size")} * #{$multiplier});
        }
    }
    
    // Force no border radius
    &.#{$_flat_name} {
        border-radius: 0;

        //Prepare the before element for being flat
        &:before {
            border-radius: 0;
        }
    }
}

@mixin axial_all () {
    //Top
    &-#{$_top_name} {
        @content ($_top_name);
    }

    //Right
    &-#{$_right_name} {
        @content ($_right_name);
    }
    
    //Bottom
    &-#{$_bottom_name} {
        @content ($_bottom_name);
    }
    
    //Left
    &-#{$_left_name} {
        @content ($_left_name);
    }
}