/*
 * All tiles
 */
@mixin media_all ($type: "default") {
    //Default state (without responsivity)
    @content(1);

    // Size states
    $states: ("xl", "lg", "md", "sm", "xs");

    // Check if responsivity is enabled
    @if ($__responsive_behaviour != "none") {
        $offset: 0;

        @each $state in $states {
            $step: 0;

            @each $substate in $states {
                $rule: media_rule($substate, $offset + $step);

                //Only spawn the rule if it passes
                @if ($rule != "false") {
                    @media screen and #{nth($rule, 1)} {
                        &-#{nth($rule, 2)} {
                            @content(media_track($offset + $step, $type));
                        }
                    }
                }

                $step: $step + 1;
            }
        }

        $offset: $offset - 1;
    }
}
/*
 * Sided tiles
 */
@mixin media_sided {
    &-#{$_top_name} {
        @content;
    }
    &-#{$_bottom_name} {
        @content;
    }
    &-#{$_left_name} {
        @content;
    }
    &-#{$_right_name} {
        @content;
    }
}