/*
 * Resets are configurations that disable the horrible
 * default page style given by the browsers. So we
 * may start on a blank canvas
 */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    width: 100%;
}

button,input[type=button] {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

a {
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

input {
    border: none;
}

a {
    text-decoration: none;
}